
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_UILayout</title>
</head>
<body>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
